@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #ffe047;
  --darkGray: #5a5a5a;
  --lightGray: #6f6f6f;
  --darkBlueGray: #2d2c3c;
}

@theme inline {
  --color-background: var(--background);
  --color-yellow: var(--yellow);
  --color-dark-gray: var(--darkGray);
  --color-light-gray: var(--lightGray);
  --color-dark-blue-gray: var(--darkBlueGray);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer !important;
}

.HeroBg {
  background-image: url("/assets/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wraperDiv {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.PersonalizerRecomBg {
  background-image: url("/assets/Personalized_Recommendations.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Create_Event_CTA {
  background-image: url("/assets/Create_Event_CTA.png");
  background-repeat: no-repeat;
  background-size: cover;
}
